.A{background-color: blueviolet;font-size: x-large;width: fit-content;}
.B{background-color: aqua;font-size: x-large;width: fit-content;}
.C{background-color: chartreuse;font-size: x-large;width: fit-content;}
#Q1{font-style: italic; text-align: center;font-size: 4cap ; text-decoration-line: underline; text-decoration-color: aqua; color:aqua ;}
#A1{background-image: url(https://wallpapercave.com/wp/wp2542794.jpg);background-size: 1366px;}
#A2{color: chartreuse; font-size: x-large;}
#A3{color: chartreuse; font-size: x-large;}